/* Dashboard */
#Dashboard {
    padding-top: 0;
    margin-top: 0;
    max-width: inherit !important;
    width: 1020px !important;
}

.alertItem {
    display: flex;
    position: relative;
    width: calc(100% - 10px);
    height: 130px;
    margin: 50px auto;

    color: #F5F5F5;
    font-size: 40px;
    background: #7E94DC;
    border: 3px solid #7370D8;
    border-radius: 80px 3px 3px 80px;
}

.alertItem:first-child {
    padding-left: 50px;
}

.alertItem .content {
    overflow: hidden;
    float: left;
    position: absolute;
    left: 0;

    border-radius: 80px 3px 3px 80px;
    height: 100%;
    width: 100%;
}

.alertItem .content div {
    float: left;
    height: calc(100% - 6px);

    border-right: 1px solid rgba(0, 0, 0, 0.20);
    border-left: 1px solid rgba(255, 255, 255, 0.27);

    padding: 15px;
    padding-bottom: 0px !important;

    font-size: 26px;
}

.alertItem::before {
    content: "";
    position: absolute;
    left: 60px;
    border-right: 1px solid rgba(255, 255, 255, 0.27);
    border-left: 1px solid rgba(0, 0, 0, 0.20);

    height: 100%;
}

.alertItem .content > div:first-child div {
    display: block;
    width: 400px;
    margin-left: 50px;
    border-left: none;
    padding-left: 0 !important;
    padding-top: 20px;
    font-size: 25px !important;
}

.alertItem .content > div:last-child {
    border-right: none;
}

.alertItem .content > div:nth-child(2) {

    height: 100%;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}

.alertItem .content div div {
    border: none;
    font-size: 20px;
    display: block;
    height: initial;
    float: left;
    clear: left;
    padding: 0px;
}

.content {
    display: flex;
}

.alertItem .alertType {
    position: absolute;
    top: -30px;
    left: 70px;
    z-index: 3;

    margin-top: 0;

    background: #DF4F4F;
    border: 2px solid #E92020;
    border-radius: 30px 0px 0px 5px;
    height: 60px;

    font-weight: bold;
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
}