/* Dashboard */
#Dashboard {
    padding-top: 0;
    margin-top: 0;
    max-width: 1200px !important;
    width: 100% !important;
    background: white !important;
}

.alertItem {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    width: 1200px;
    height: 170px;
    margin: 4px auto;
    text-align: center;
}

.alertItem > div {
    display: inline-block;
}

.alertItem > div:nth-child(1) {
    background: #003;
    width: 200px;
    padding-top: 20px;

    color: white;

    z-index: 7;
    box-shadow: 4px 0px 30px rgba(0, 0, 0, 0.755);
}

.alertItem .type {
    font-size: 19px
}

.alertItem .time {
    color: #999999;
    font-size: 13px
}

.alertItem > div:nth-child(2) {
    background: #669;
    width: calc(1200px - (400px + 200px));

    color: white;
    text-shadow: 0 0 10px #000;
    box-shadow: 0 0 30px black;
}

.alertItem > div:nth-child(2) h1 {
    margin-top: 50px;
    font-size: 36px;
    font-weight: 200;
}

.alertItem > div:nth-child(3) {
    background: #fff;
    width: 400px;
    padding: 20px 12px;

    color: #111;
    text-align: left;

    box-shadow: -4px 0px 30px rgba(0, 0, 0, 0.755);
    z-index: 7;

}

.icon-list button {
    width: 48px;
    height: 48px;

    background: #ccc;
    color: #fff;
    border: 2px solid #999;
    margin: 4px;
    cursor: pointer;

    border-radius: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

.fa-times,
.fa-eye,
.fa-check {
    font-size: 32px;
    padding: 2px;
}

.icon-list button:hover {
    background: #999;
    color: #222;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
}

.fa-exclamation-circle {
    position: relative;
    top: 4px;
    margin-right: 5px;
    color: rgb(235, 0, 0);
    font-size: 20px;
}

.icon-list {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 15px 12px;
}

.extraInfo {
    /*overflow: hidden;*/
    display: none;
    height: 0px;
    opacity: 0;
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0s;
}