/* Forms Fieldsets Legends & Inputs */
form, fieldset, legend, input, .LabelItem {
    margin: 0;
    padding: 0;
    border: none;
}

form {
    /*width: calc(100% - 20px);*/
    margin: 0 auto;
    padding: 00px;

    font-size: 1.5em;
    color: #333;
}

/*form > * {*/
/*display: inline-block;*/
/*width: 100%;*/
/*height: 2em;*/
/*}*/

fieldset {
    display: block;
}

fieldset > * {
    width: 100%;
}

legend {
    background: #2d2d85;
    color: #eee;

    width: 100%;
    padding: 10px 20px;
}

label {
    background: #2d2d85;
    color: #eee;

    padding: 10px 20px;
}

.input {
    padding: 0px;
    color: #171717;
    font-size: 1em;
    padding: 10px 20px;
}

input {
    padding-left: 5px;
}

legend + input {
    border-top: none;
    margin: 0;
}

input[type=radio] {
    width: 1.5em;
    height: 1.5em;
}

section.input > input[type='email'], section.input > input[type='Tel'], section.input > input[type='text'], select {
    width: 100%;
    font-size: 1em;
    padding-left: 5px;
}

/*Radio buttons*/
@keyframes colorSwap {
    from {
        background-color: #b4c9ea;
    }
    to {
        background-color: green;
    }
}

.inputGroup {
    background-color: #fff !important;
    display: block;
    margin: 10px 0;
    border: black;
}

.inputGroup label {
    text-align: center;
    line-height: 42px;
    padding: 0 8px;
    margin: 0;
    border-radius: 50px;
    min-width: 42px;
    height: 42px;
    display: inline-block;
    background-color: #a7c9ff !important;
    border: black;
    position: relative;
}

.inputGroup input[type="radio"] {
    opacity: 0;
    min-width: 42px;
    height: 42px;
    z-index: 2;
    position: absolute;
}

input {
    height: 42px;
    /*width: 90px;*/
    /*TODO Discuss best way to style inputs(small or underneath each other)*/
}

input[type="radio"]:checked + label {
    animation-name: colorSwap;
    animation-duration: 1s;
    background-color: green !important;
}

/*hidden extra info*/
.extraInfo {
    overflow: hidden;
    display: none;
    height: 0px;
    opacity: 0;
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

#login {
    display: flex !important;
    justify-content: center;
    align-items: center;

    max-width: 400px !important;
    height: 480px;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}

/* #container {
    position: relative;
    top: -30px;
} */

#login form, #login div {
    width: 300px;
    margin: 0;
}

#login img {
    display: block;
    margin: 4px auto 16px;
    width: 200px;
    height: 200px;

    padding: 25px;

    border-radius: 100%;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.186);
}

#login input[type='email'], #login input[type='password'] {
    width: 100%;
    border: 1px solid rgb(196, 196, 196);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.303);
    padding: 5px 20px;
    margin: 5px 0;
}

#login input[type='email']:focus, #login input[type='password']:focus {
    outline: rgb(0, 174, 255) auto 5px;
    box-shadow: 0 0 5px rgb(0, 174, 255);
}

#login .buttonContainer {
    height: 46px;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.535);
}

#btnForgotLogin, #btnLogin {
    height: 100%;
    width: 50%;
    float: left;
    color: white;
    border: none;
}

/*#Menu:hover{width: 100%;}*/
/*#Menu:not(:hover){width: 10px;}*/
/*#Menu{position: fixed;}*/

#btnForgotLogin {
    background: rgb(255, 44, 44);
}

#btnForgotLogin:hover {
    background: rgb(255, 57, 57);
}

#btnLogin {
    background: rgb(30, 179, 30);
    box-shadow: -1px 0 3px rgba(0, 0, 0, 0.275);
}

#btnLogin:hover {
    background: rgb(49, 183, 49);
    box-shadow: -1px 0 5px rgba(0, 0, 0, 0.275);
}

#login p.errorMessage {
    color: rgb(255, 36, 36);
    text-shadow: 1px 0 3px rgba(0, 0, 0, 0.214);
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.inputGroup {
    padding-left: 30px;
}