/* Forms Fieldsets Legends & Inputs */
form, fieldset, legend, input, .LabelItem {
    margin: 0;
    padding: 0;
    border: none;
}

form {
    width: calc(100% - 20px);
    margin: 0 auto;
    padding: 10px;

    font-size: 1.5em;
    color: #333;
}

form > * {
    display: inline-block;
    width: 100%;
    height: 2em;
}

fieldset {
    display: block;
}

fieldset > * {
    width: 100%;
}

legend {
    background: #2d2d85;
    color: #eee;

    width: 100%;
    padding: 10px 20px;
}

label {
    background: #2d2d85;
    color: #eee;

    padding: 10px 20px;
}

.input {
    padding: 0px;
    color: #171717;
    font-size: 1em;
    padding: 10px 20px;
}

legend + input {
    border-top: none;
    margin: 0;
}

input[type=radio] {
    width: 1.5em;
    height: 1.5em;
}

/*Radio buttons*/
@keyframes colorSwap {
    from {background-color: #fff;}
    to {background-color: #5562eb;}
}
.inputGroup {
    background-color: #fff !important;
    display: block;
    margin: 10px 0;
    border: black;
}

.inputGroup label {
    text-align: center;
    line-height: 42px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: inline-block;
    background-color: red !important;
    border: black;
    position: relative;
}

.inputGroup input[type="radio"] {
    opacity: 0;
    width: 42px;
    height: 42px;
    z-index: 2;
    position: absolute;
}
input {
    height: 42px;
}

input[type="radio"]:checked + label {
    animation-name: colorSwap;
    animation-duration: 1s;
    background-color: #5562eb !important;
}
/*hidden extra info*/
#extraInfo{
    display: none;
    opacity: 0;
}