#Menu {
    z-index: 99;
    position: fixed;
    top: 10px;
    right: 10px;
    /*width: 200px;*/
    text-align: center;
    /*display: inline-block;*/
}

.clearfix {
    clear: both;
}

#Menu:hover a {
    width: 100px;
}

#Menu:hover a p {
    visibility: visible;

}

#Menu a {
    display: block;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    padding: 5px;
    float: right;
    width: 40px;
    height: 32px;
    margin: 2px 0;
    background: #336;
    color: #fff;
    border: none;

    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.289);

    font-size: 16px;

    transition: width 0.4s ease-in,
    left 0.4s ease-in,
    color 0.2s ease-out 0.4s,
    text-shadow 0.2s ease-out 0.4s;
}

#Menu a:hover {
    background: #558;
    clear: both;
    width: 220px;
    left: 0px;

}

#Menu .collapsed:hover {
    background: #669;
    color: #669;
    text-shadow: none;
}

#Menu a p {
    width: calc(100% - 30px);
    float: left;

    overflow: hidden;
    visibility: hidden;
    transition: visibility 0.2s;
}

#Menu a:hover p {
    visibility: visible;
    color: #fff;
    text-shadow: 0 0 4px black;
}
