* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /* Disables User Highlight */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome and Opera */
}

html {
    background-color: #ccc;
    overflow-y: scroll;
}

body main:not(#dashboard) {
    display: block;
    max-width: 720px;
    height: 100%;
    margin: 0 auto;
}

header {
    max-width: 720px;
    max-height: 149px;
    margin: 0 auto;
    overflow: hidden;
}

header h1 {
    padding: 20px;
    background: #2d2d85;
    color: #eee;
}

header img {
    width: 100%;
}

main {
    background: #ff00e1;

    padding-top: 0px;
    padding-bottom: 1px;
    margin: 0 auto;
    height: 100%;
}

.btn {
    position: relative;
    background: #eee;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;

    text-align: center;
    vertical-align: middle;

    cursor: pointer;

    width: calc(100% - 20px);

    margin: 11px auto;
    padding: 10px 0;
}

.btn:hover {
    background: #ccc;
}

.btn img {
    position: absolute;
    top: 5px;
    left: 5px;

    max-width: 32px;
    max-height: 32px;
}

.textbox {
    color: #fff;

    text-align: center;
    padding: 11px 0;
}

.label {
    font-size: 24px;
    font-weight: bold;

    padding-left: 10px;
    margin-top: 10px;
}

section {
    background-color: #fff;
}

/* Debug */
.debug {
    display: inline-block;
    color: rgba(255, 0, 0, 0.7);
    background: rgba(255, 0, 0, 0.2);
    border: 2px solid rgba(255, 0, 0, 0.4);
    padding: 10px;

    position: fixed;
}