.user {
    display: flex;

    width: 80%;
    height: 60px;
    
    margin: 10px auto;

    border-bottom: 1px solid grey;
    border-top: 1px solid grey;

    font-size: 22px;
    vertical-align: center;
}

.user > div {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.editEmail {
    display: inline-block;
    position: relative;
    bottom: 5px;
    height: 35px;
    width: 35px !important;
    padding: 7px 5px 7px 8px;
    margin-right: 1em;
    border: 1px solid black;
    border-radius: 100%;
}
