main {
    padding-top: 20px;
}

.user {
    position: relative;
    display: flex;
    padding: 15px 0;

    width: 80%;
    height: 60px;
    
    margin: 10px auto;

    border-bottom: 1px solid grey;
    border-top: 1px solid grey;

    font-size: 22px;
    vertical-align: center;
    background: none;

    transition: 
        box-shadow 0.15s ease-out,
        border-color 0.15s ease-out;
}

.user:hover{
    box-shadow: 0px 1px 5px #888, 0px -1px 5px #888;
    border-color: white;
}

.editEmail {
    display: inline-block;
    position: relative;
    bottom: 5px;
    height: 35px;
    width: 35px !important;
    padding: 7px 5px 7px 8px;
    margin: 0 1em;
    border-radius: 100%;

    color: #888;
    border: 1px solid #888;
}

.editEmail:hover {
    color: rgb(91, 146, 230);
    border-color: rgb(91, 146, 230);

    transition: 
        color 0.3s,
        border-color 0.3s;
}

#addUser {
    position: fixed;
    height: 48px;
    width: 60px !important;

    background: #336;
    color: white;
    padding: 6px 10px 6px 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.deleteMail {
    position: absolute;
    right: 20px;
    color: #888;

    transition:
        color 0.3s ease-out;
}

.deleteMail:hover {
    color: rgb(233, 38, 38);
}

input {
    padding: 10px 5px;
    font-size: 1em;
    margin: 5px 0;
}

#btnBack {
    margin-right: 10px;
    position: relative;
    top: 2px;
    color: white;
    transition: color .2s ease-out;
}

#btnBack:hover {
    color: #bbb;
}